<!-- wp:template-part {
	"slug": "header"
} /-->

<!-- wp:pattern {
	"slug": "capsule/mbf-breadcrumbs"
} /-->

<!-- wp:group {
	"tagName": "main",
	"metadata": {
		"name": "Main"
	},
	"style": {
		"spacing": {
			"blockGap": "var:preset|spacing|100",
			"margin": {
				"top": "var:preset|spacing|160",
				"bottom": "var:preset|spacing|160"
			}
		}
	},
	"layout": {
		"type": "flex",
		"orientation": "vertical"
	}
} -->
<main
  class="wp-block-group"
  style="margin-top: var(--wp--preset--spacing--160); margin-bottom: var(--wp--preset--spacing--160)"
>
  <!-- wp:pattern {
  	"slug": "capsule/mbf-bloghome"
  } /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {
	"slug": "footer"
} /-->
