<!-- wp:template-part {
	"slug": "header",
	"tagName": "header"
} /-->

<!-- wp:pattern {
	"slug": "capsule/mbf-breadcrumbs"
} /-->

<!-- wp:woocommerce/page-content-wrapper {
	"page": "cart"
} -->
<!-- wp:group {
	"tagName": "main",
	"layout": {
		"type": "constrained"
	}
} -->
<main class="wp-block-group">
  <!-- wp:woocommerce/store-notices /-->

  <!-- wp:pattern {
  	"slug": "capsule/mbf-page-cart"
  } /-->

  <!-- wp:group {
  	"metadata": {
  		"name": "Bottom Sections"
  	},
  	"align": "full",
  	"style": {
  		"spacing": {
  			"blockGap": "var:preset|spacing|160",
  			"margin": {
  				"top": "var:preset|spacing|160",
  				"bottom": "var:preset|spacing|160"
  			},
  			"padding": {
  				"top": "0",
  				"bottom": "0"
  			}
  		}
  	},
  	"layout": {
  		"type": "flex",
  		"orientation": "vertical"
  	}
  } -->
  <div
    class="wp-block-group alignfull"
    style="
      margin-top: var(--wp--preset--spacing--160);
      margin-bottom: var(--wp--preset--spacing--160);
      padding-top: 0;
      padding-bottom: 0;
    "
  >
    <!-- wp:pattern {
    	"slug": "capsule/mbf-split-banners"
    } /-->

    <!-- wp:pattern {
    	"slug": "capsule/mbf-product-carousel"
    } /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:template-part {
	"slug": "footer",
	"tagName": "footer"
} /-->
