<!-- wp:template-part {
	"slug": "header"
} /-->

<!-- wp:group {
	"tagName": "main",
	"metadata": {
		"name": "Main"
	},
	"style": {
		"spacing": {
			"blockGap": "0",
			"margin": {
				"top": "0",
				"bottom": "var:preset|spacing|160"
			}
		}
	},
	"layout": {
		"type": "default"
	}
} -->
<main class="wp-block-group" style="margin-top: 0; margin-bottom: var(--wp--preset--spacing--160)">
  <!-- wp:group {
  	"metadata": {
  		"name": "Page Title"
  	},
  	"className": "is-style-section-overlay",
  	"style": {
  		"spacing": {
  			"blockGap": "0",
  			"margin": {
  				"bottom": "var:preset|spacing|120"
  			}
  		}
  	},
  	"layout": {
  		"type": "default"
  	}
  } -->
  <div class="wp-block-group is-style-section-overlay" style="margin-bottom: var(--wp--preset--spacing--120)">
    <!-- wp:cover {
    	"useFeaturedImage": true,
    	"dimRatio": 50,
    	"overlayColor": "mbf-primary",
    	"isUserOverlayColor": true,
    	"isDark": false,
    	"layout": {
    		"type": "constrained"
    	}
    } -->
    <div class="wp-block-cover is-light">
      <span
        aria-hidden="true"
        class="wp-block-cover__background has-mbf-primary-background-color has-background-dim"
      ></span>
      <div class="wp-block-cover__inner-container"><!-- wp:post-title {
      	"textAlign": "center"
      } /--></div>
    </div>
    <!-- /wp:cover -->
  </div>
  <!-- /wp:group -->

  <!-- wp:post-content {
  	"layout": {
  		"type": "constrained"
  	}
  } /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {
	"slug": "footer"
} /-->
